<a href="https://colab.research.google.com/github/chinst/Auto-GPT/blob/master/ProcessTHistory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [131]:
# 과학적 표기법 대신 소수점 2자리까지 나타낸다.
pd.options.display.float_format = '{:.2f}'.format
# 다시 원래대로 옵션을 변경하고 싶을 때는 아래 명령어를 사용하면 됩니다.
# pd.reset_option('display.float_format')

# Google Connection

In [132]:
!pip install gspread-pandas

from gspread.utils import ValueInputOption, ValueRenderOption, fill_gaps, rightpad
from gspread_pandas import Spread, Client,conf
from gspread_pandas.util import pd


# Prepare the file Colab needs to access gspread.

import json

key = {
  "type": "service_account",
  "project_id": "fogprivate",
  "private_key_id": "87d9d4f581833a44aaf04b4d62d51b577d76f5b5",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDSfKaTZ1rQjn/q\nbrWFIzTVH9WXoN17f4XaAJcaqld/R0NVDRl4CIskguZrQqRCV/W3m+7u4Js4bQGL\nL5JUNZSxn9/Tlv+Prhef53XpfjhTYqTGY1jV8pZFbAttAyTa1VJcDd8UMqAOEh6z\nZDFbgloRz6HR5XmHg8cKhHd0dc/M6O8lVnau89ZN9cjyiziabiEkvE8MgPP9HN2y\nMdCVFjdG2ybGP9kx1TrZBfnfZlP8dUsadeRCLnYqv6YJQ3sHRCUWAlORuapfE68n\n5eUEeIkPAK9kSjYhALaPwOCTUYrGixvZ5uf2kzDf8ojnoFLYntR7Cq6Vk25oR1qU\ndPlWw8MFAgMBAAECggEAFHMqXutdeiJCIMVxStZdEXDGmHT3V8KPv1qr05olppbG\nnqqHZS9VT26NUvH2UgDIPXa/q8M0KXMDwaFVUuuivvAkt6K1wSCdqHo9LTqHX+iX\nUDQCQ0UOnv+Mi6KQz9cGaa2qVQTHIp7Vj0HGftjHBfB5jRJBsK4Xpjiw/2Zb0lFI\n8Qb89tCsQ5Ts0m2LYrK0mkLBUVRD9tshBF5tZt1ZbRAjw/z/BXeOb9MvFZ9ImnWB\nj/v9++xpPhYEacgWzp002u28VvD0UUomyasiqt7WO+hgYVds/OKkURIVsGbLeFoX\n/E+DxKhADIUx3EEjtP8v25ofgAyoaFx8ao0w0qGroQKBgQD+bWg9I0mpXC7/vfF/\n0NHxeQxK2S4HrfD9DDwhQH21SBHHn0nraVtrK1WQxeqJV12qE+oApRirINUCx0gn\n3myDmyS2wvqQIQQ4AgzHOY0ufec7/1qXR4JPaULUVrSy2GdVrXSBoI47mA3CWozV\n0b/hueC2AJQhsVju2dwB9AWJZQKBgQDTybbhxjgJ0II6nyk+ZDpIf8IqiIQ70j+X\n77BwkU5tVUGnb9z9p+LNZs0xAqHEUqViLzPKIGa7DAl5vkw8PoCqwIInXpxlAVdH\nocPqGQ8c0jAlNytpzkLXDfNjSvTrV/0klzFvJOrYpLqdV5zQCUHhXS7fPERTGLIk\nKUJwSA6JIQKBgElmkOsKcibdBGYdiz1/pgHPFT/GtiPbB6pJTFOfgmS5PP/lMXMr\n+wbJAq94mbgzrz7w7dJvztUX7LwXd/agkZfKO2ZKi/TmwYvS85LKRLPD+ODzQ1Rf\nefWk/XW66fiqu+0Y1ILNKhuBO371lqndEElz0aNQOWwa+Pg3e+RIXQyNAoGAVWQn\nULDTN2HSoEA8KOPQfBrG9s9EQbpr2Z7SzRBJRtvxNMltmPhwAdFJOlGNV9Lay9Os\nVfrqcNBRobyQkFnDFxW3ZJhJBpCb2E3o6CJibYRx1Q+BeY+oc300fPxj89/uOSqc\ny+tepSsF8xq4J0kUPwGLPIbYJYj3ioz4NL1Y3wECgYBV8NTV4wItn7nvaEGnu7vH\nPpte9HlZ6i9T4/xkrm06zgqUzkUviJcZApPo70GxHe/KAukdO1DItGLLnzdTLega\nDq/K6mp9Jr/ULTwEYVxZYGdio3wBJ60cA8SvsRjA5OIYu+7Yu5xa/SN/rxXTzIeE\nkanjTJ8zjPZ/d91mGvse5Q==\n-----END PRIVATE KEY-----\n",
  "client_email": "fog-robot@fogprivate.iam.gserviceaccount.com",
  "client_id": "113848586169214831786",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/fog-robot%40fogprivate.iam.gserviceaccount.com"
}
with open('./google_secret.json', 'wt', encoding='utf-8') as k:
  json.dump(key, k)

!mkdir ~/.config/gspread_pandas
!mv ./google_secret.json ~/.config/gspread_pandas/

from oauth2client.service_account import ServiceAccountCredentials
import gspread
import os
import json

def connectGoogle():
    scope = [
            'https://spreadsheets.google.com/feeds',
            'https://www.googleapis.com/auth/drive',
            ]

    json_key_path = '../data/gspreadkey/fogprivate.json'

    credential = ServiceAccountCredentials.from_json_keyfile_dict(key, scope)
    gc = gspread.authorize(credential)

    return gc

'''
def getSheet(gc):
    doc = gc.open('tradehistory')
    history = doc.worksheet('history')
    parameters = doc.worksheet('parameters')
    return history, parameters
'''

def getNextAvailableRow(worksheet):
    str_list = list(filter(None, worksheet.col_values(1)))
    return str(len(str_list)+1)

gc = connectGoogle()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gspread-pandas in /usr/local/lib/python3.10/dist-packages (3.2.2)
Requirement already satisfied: gspread>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from gspread-pandas) (5.9.0)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from gspread-pandas) (1.5.3)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from gspread-pandas) (4.4.2)
Requirement already satisfied: google-auth in /usr/local/lib/python3.10/dist-packages (from gspread-pandas) (2.17.3)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.10/dist-packages (from gspread-pandas) (1.0.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread-pandas) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread-pandas) (0.3.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread-pandas) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread-pandas) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib->gspread-pandas) (1.3.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->gspread-pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->gspread-pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->gspread-pandas) (1.22.4)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth->gspread-pandas) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread-pandas) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread-pandas) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread-pandas) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread-pandas) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread-pandas) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread-pandas) (3.4)
mkdir: cannot create directory ‘/root/.config/gspread_pandas’: File exists

In [133]:
import numpy as np

# Load Spreadsheet (RAW data)
- thistory : 전체 DATA set
- category, category2 (for quant) : 자산분류

In [134]:
spread = Spread('TradeWholeHistory')
assetman = Spread('자산관리 v2')

In [135]:
thistory = spread.sheet_to_df(sheet='history')

In [136]:
stocks = sorted(thistory['종목명'].unique())
stocks.remove('')
stocks = pd.DataFrame({'종목명':stocks})
assetman.df_to_sheet(stocks, index=False, sheet='전체 종목')

In [137]:
category = assetman.sheet_to_df(sheet='종목 분류').reset_index()
category = category.iloc[:, :2]
category2 = category.copy()
category['분류'] = np.where(category['분류']=='','한국 주식', category['분류'])
category2['분류'] = np.where(category2['분류']=='','한국 퀀트', category2['분류'])
category.분류.unique()

array(['금', '미국 S&P500', '미국 나스닥', '한국 배당 ETF', '미국 주식', 'KRW', '한국 주식',
       '마국 배당주', '한국 ETF', '펀드', '미국 채권', '한국 채권', '한국 펀드', '미국 배당 ETF',
       '미국 BAA-A', '한국 리츠', '중국 ETF', '일본 ETF', '미국 배당주', '한국 배당주', 'USD'],
      dtype=object)

### 종목 변경사항 적용

In [138]:
def renameTickers(df):
  # String > Number
  df['수량'] = df['수량'].astype('int32')
  df['거래금액'] = df['거래금액'].astype('float')
  df['외화거래금액'] = df['외화거래금액'].astype('float')
  df['단가/환율'] = df['단가/환율'].astype('float')

  # 종목 변경사항 정리
  renamed = {
      'KINDEX 미국나스닥100' : 'ACE 미국나스닥100',
      '유니티 소프트웨어'      : '유니티소프트웨어',
      '페이스북'             : '메타 플랫폼스',
      '라이어트 블록체인'      : '라이엇 플랫폼즈',
      '어도비 시스템즈'        : '어도비',
      '아마존 닷컴'           : '아마존닷컴'
  }
  df['종목명'] = df['종목명'].apply(lambda x:renamed[x] if x in renamed.keys() else x)

  return df

df = thistory = renameTickers(thistory)

### Preprocessing

In [139]:
SELLTYPE = ['매도','미국(NASDAQ)주식매도','미국(NYSE)주식매도','액면분할출고','액면병합출고','합병출고','분할출고','신주인수권출고','외화RP매도']

def calcTradeAmount(df, selltype):
  df['buysell'] = df['수량'] * np.where(df.거래내용.isin(selltype), -1, 1)
  df['buysell'] = np.where(df.거래내용.isin(['청약']), 0, df['buysell'])

  # KRW : 매수일때 -, 매도일때 +가 되는 부분임.

  df['KRW'] = df['거래금액'] * np.where((df.거래내용.isin(selltype)) | ((df.거래내용.str.contains('입금')) | (df.거래내용=='청약입고')), 1, -1)
  # df['KRW'] = df['단가/환율'] * np.where((df.거래내용.isin(selltype)) | (df.거래내용=='청약입고'), 1, -1)
  # df['KRW'] = np.where(df.거래내용.isin(['청약']), 0, df['거래금액'])

  df['USD'] = df['외화거래금액'] * np.where((df.거래내용.isin(selltype)) | (df.거래내용.str.contains('입금')), 1, -1)
  # df['USD'] = np.where(df.거래내용.isin(['청약']), 0, df['buysell'])

  # 0으로 reset 해야 하는 경우 
  df['KRW'] = np.where(df.통화명=='USD', 0, df['KRW'])
  df['USD'] = np.where(df.통화명=='KRW', 0, df['USD'])

  df['KRW'] = df['KRW'].astype('int')

  # 외화매수 : KRW = -, USD = - : KRW = -, USD = +로 변경
  df['USD'] = np.where(df.거래내용=='외화매수',0 - df['USD'], df['USD'])
  
  # thistory.loc[thistory['통화명']==''].종목명.unique()     # 통화명이 없는 것은 모두 KRW, 채권, 펀드 등임
  df['통화명'] = np.where(df['통화명']=='', 'KRW', df['통화명'])
  
  return df

thistory = calcTradeAmount(thistory, SELLTYPE)

In [140]:
accno = sorted(thistory.계좌번호.unique())
list(enumerate(accno))

[(0, '12988349-01'),
 (1, '12988349-05'),
 (2, '12988349-09'),
 (3, '12988349-14'),
 (4, '12988349-29'),
 (5, '7062388177-01'),
 (6, '7062388177-05'),
 (7, '7062388177-14'),
 (8, '7062388177-95'),
 (9, '7062388177-96'),
 (10, '7088954069-01'),
 (11, '7088954069-05'),
 (12, '7089282737-01'),
 (13, '7089282737-05'),
 (14, '7089282737-14'),
 (15, '7127684597-01'),
 (16, '7127684597-05'),
 (17, '7136165134-15'),
 (18, '7136348428-05'),
 (19, '7139302962-15')]

# 최신 데이타인지 확인 : 230606 update

In [141]:
account = 0
thistory.loc[thistory.계좌번호==accno[account]].iloc[:, 1:-3].sort_index().tail()

,거래내용,종목명,수량,거래금액,상대계좌명,통화명,단가/환율,외화거래금액,상대계좌번호,처리점,category
거래일자,,,,,,,,,,,
2023-06-02,배당금입금,TIGER 리츠부동산인프라,0,4200.00,,KRW,0.00,0.00,,,FAMILY
2023-06-02,미국(NASDAQ)주식매수,iShares 7-10 Year Treasury Bond ETF,2,0.00,,USD,97.41,195.00,,,FAMILY
2023-06-02,미국(NYSE)주식매수,애브비,1,0.00,,USD,135.94,136.00,,,FAMILY
2023-06-03,외화RP매도,외화수시RP,2000,0.00,,USD,0.00,2001.00,,,FAMILY
2023-06-03,외화RP매도,외화수시RP,1000,0.00,,USD,0.00,1000.00,,,FAMILY

In [142]:
stname = thistory.종목명.unique()
stocks = {}
for nm in stname:
  stocks[nm] = 0

# Tools

## DATA 정리를 위한 함수들
- itemInfo(df, account:str, ticker:str) : thistory, idx의 계좌내의 ticker종목만 뽑아 매수수량누적, 매수평단가를 기록하여 이력을 dataframe으로 반환
- accInfo(df, account:str) : thistory, idx계좌의 종목별 dataframe을 준비하여 dict로 반환함 ticker : [최종보유수량, ticker이력의 dataframe]
- balanceTickerInfo(df, account:str) : thistory, idx의 계좌에 남아있는 종목들의 거래내역들 정리사항을 반환
- assembleStocks(tickerDict:dict) : 종목별로 df구성한 dict에서 전체 df를 생성
- balanceAccount(df, account:str) : 해당 계좌의 거래내역, 잔고를 산출
- balanceClass(dfhist, cat:str, catfc=None): Class 즉, 계좌분류(Family,YI,JW,MK)별 거래내역 및 잔고 확인

In [143]:
def itemInfo(df, account:str, ticker:str):
  '''
  itemInfo : thistory, idx의 계좌내의 ticker종목만 뽑아 매수수량누적, 매수평단가를 기록하여 이력을 dataframe으로 반환
  '''
  item = df.loc[(df['계좌번호']==account)&(df['종목명']==ticker)].sort_index()
  item['ACC'] = item['buysell']
  item['ACC'] = item['ACC'].expanding(2).sum()
  item.loc[item.index[0], 'ACC'] = item.loc[item.index[0], 'buysell']
  
  item['AVG_KRW'] = np.where((item['buysell']!=0)&(item['KRW']<=0), item['KRW'].astype('float'), 0.0)
  item['AVG_USD'] = np.where((item['buysell']!=0)&(item['USD']<=0), item['USD'], 0.0)

  item['AVG_KRW'] = item['AVG_KRW'] / item['수량']
  item['AVG_USD'] = item['AVG_USD'] / item['수량']

  idx = 0 if item.iloc[0, -2] != 0 else 1
  item['AMT_PRICE'] = item['KRW'] if idx==0 else item['USD']

  OP = 1
  AVG_ = -3+idx
  TRADE = -6+idx
  AMT_PRICE = -1
  BUYSELL = -7
  ACC = -4

  item['AMT_PRICE'] = item['AMT_PRICE'].expanding(2).sum()     # 해당 종목의 누적치
  item.iloc[0, -1] = item.iloc[0, TRADE]

  # 평단가 계산
  for i in range(1, item.shape[0]):
    if item.iloc[i, BUYSELL]==0:     # buysell
      item.iloc[i, -3] = np.abs(item.iloc[i-1, -3])     # AVG_KRW, AVG_USD
      item.iloc[i, -3+1] = np.abs(item.iloc[i-1, -3+1])
      # 액면분할입고/액면분할출고 처리 
      continue
    if item.iloc[i, BUYSELL] < 0:
      item.iloc[i, AVG_] = np.abs(item.iloc[i-1, AVG_])     # AVG_KRW, AVG_USD
    else:
      # 거래내용 == 분할입고면 분할입고 수량만 참고하여 평단가 계산 ... 아래 코드로 대체해 봄
      # nStock = item.iloc[i, 3] if item.iloc[i, 1] == '분할입고' else item.iloc[i, ACC]
      nStock = item.iloc[i, ACC]
      if item.iloc[i-1, AVG_] != 0 and item.iloc[i-1, ACC] != 0:
        item.iloc[i, AVG_] = (np.abs(item.iloc[i-1, ACC] * item.iloc[i-1, AVG_]) + np.abs(item.iloc[i, TRADE])) / nStock     # 평단가와 거래금액은 부호가 반대이므로 -
      else:
        if i > 2 and '분할입고' in item.iloc[i, OP]:     # 액면분할입고, 분할입고
          # print(f'i = {i}, OP={item.iloc[i, OP]}')
          # 마지막 AVG_KRW / AVG_USD 찾기 -> ACC * AVG_KRW or AVG_USD / 액면분할입고 수량 = 새로운 AVG_   ; 수량이 떨어지지 않는 경우가 있나 모르겠음
          srch = i - 1
          while(srch >= 0):
            if item.iloc[srch, ACC] > 0 and item.iloc[srch, AVG_] > 0:
              break
            srch = srch - 1
          if srch >= 0:   # FOUND !
            item.iloc[i, AVG_] = item.iloc[srch, ACC] * item.iloc[srch, AVG_] / item.iloc[i, ACC]
          else :          # NOT FOUND !
            pass

    if item.iloc[i, ACC]==0:
      item.iloc[i, AVG_] = 0
      trade = 0

  item['AVG_KRW'] = np.abs(item['AVG_KRW']).fillna(0)
  item['AVG_USD'] = np.abs(item['AVG_USD']).fillna(0)

  # 채권은 왜 0이 되는가? 이거 확인 후 풀어야 할 듯
  if False:
    item['AVG_KRW'] = item['AVG_KRW'].astype('int')
    item['AVG_USD'] = item['AVG_USD'].astype('float')

  # 삼성전자때문에 넣어 봄...
  item['AVG_KRW'] = np.where((item['거래내용']=='매수')&(item['AVG_KRW']==0), item['단가/환율'].astype('float'), item['AVG_KRW'])

  return item

def accInfo(df, account:str):
  '''
  accInfo : thistory, idx계좌의 종목별 dataframe을 준비하여 dict로 반환함 ticker : [최종보유수량, ticker이력의 dataframe]
  '''
  acc = df.loc[(df['계좌번호']==account)].sort_index()
  tickers = acc['종목명'].unique()
  items = {}
  for t in tickers:
    i = itemInfo(df, account, t)
    nStock = i.iloc[-1, -4] if i.shape[0] > 0 else 0
    items[t] = [nStock, i]

  return items

def balanceTickerInfo(df, account:str):
  '''
  balanceTickerInfo : thistory, idx의 계좌에 남아있는 종목들의 거래내역들 정리사항을 반환
  '''
  accN = accInfo(df, account)

  acc_c = { k:accN[k] for k in accN.keys() if accN[k][0] != 0}
  _dflist = []
  for k in acc_c.keys():
    _df = pd.DataFrame(acc_c[k][1].sort_index().iloc[-1, [2, -3, -2, -1]]).T.reset_index().iloc[:, 1:]
    _df['ACC'] = acc_c[k][0]
    _dflist = _dflist + [_df]
  acc_cdf = pd.concat(_dflist)

  for i in range(1, 3):
    acc_cdf.iloc[:, i] = np.abs(acc_cdf.iloc[:, i])

  acc_cdf['CURRENCY'] = np.where(acc_cdf.iloc[:, -2] != 0, 'USD', 'KRW')
  
  return accN, acc_cdf

def assembleStocks(tickerDict:dict):
  '''
    assembleStocks : 종목별로 df구성한 dict에서 전체 df를 생성
  '''
  dfa_list = []
  for k in tickerDict.keys():
    dfa_list = dfa_list + [tickerDict[k][1]]
  dfa = pd.concat(dfa_list).sort_index()

  return dfa

def balanceAccount(df, account:str):
  '''
  해당 계좌의 거래내역, 잔고를 산출
  '''
  # ''은 thistory부터 있으니 나중에 확인해 볼 것!
  # 0번 계좌에 남아있는 종목들의 거래내역들 정리사항을 반환
  acc0, acc0c = balanceTickerInfo(thistory, account)
  # acc0c     # 실제 잔고, 평단가 확인해 보자

  # AVG_, AMT_ 를 포함하여 다시 해당 계좌 전체 데이타를 취합 : 예수금 처리 가능하지 않을까? (이전 데이타가 없어서... ???)
  df0 = assembleStocks(acc0)

  # 현재 보유중인 종목과 수량, 금액, 평균매수단가
  df0c = df0.groupby('종목명')[['buysell' ,'KRW', 'USD']].sum()
  df0cr = df0c.loc[df0c['buysell']!=0].abs().sort_values(['KRW', 'USD'], ascending=False)
  df0a = pd.DataFrame({'AVG_KRW':[acc0[x][1].iloc[-1, -3] for x in df0cr.index], 'AVG_USD':[acc0[x][1].iloc[-1, -2] for x in df0cr.index]}, index=df0cr.index)
  df0f = df0cr.merge(df0a, left_index=True, right_index=True, how='left')
  
  # 계좌별 현금잔고 관련
  df0['CASH_KRW'] = df0['KRW']
  df0['CASH_USD'] = df0['USD']
  # df['CASH_KRW'] = np.where((df.KRW<0)&(~df.거래내용.isin(['매수'])), 0 - df['CASH_KRW'], df['CASH_KRW'])   # 이미 -로 CASH에서 - 되도록 되어 있음
  # df['CASH_USD'] = np.where((df.USD<0)&(~df.거래내용.str.contains('매수')), 0 - df['CASH_USD'], df['CASH_USD'])   # 상동
  df0['CASH_KRW'] = df0['CASH_KRW'].expanding(2).sum()
  df0['CASH_USD'] = df0['CASH_USD'].expanding(2).sum()
  df0.iloc[0, -2] = df0.iloc[0, -8]
  df0.iloc[0, -1] = df0.iloc[0, -7]

  df0f = df0f.loc[:, ['buysell', 'AVG_KRW', 'AVG_USD']]
  df0f['매수금액(KRW)'] = df0f['buysell'] * df0f['AVG_KRW']
  df0f['매수금액(USD)'] = df0f['buysell'] * df0f['AVG_USD']

  return df0, df0f

def balanceClass(dfhist, cat, catfc=None):
  '''
  balanceClass : Class 즉, 계좌분류(Family,YI,JW,MK)별 거래내역 및 잔고 확인
  '''
  df_list = []
  dff_list = []
  df = dfhist.loc[dfhist.category==cat]
  acclist = df.계좌번호.unique()
  for acc in acclist:
    try:
      df, df_f = balanceAccount(dfhist, acc)
      df_list.append(df)
      dff_list.append(df_f)
    except:
      print(f'skip {acc} ...')

  df = pd.concat(df_list)
  df_f = pd.concat(dff_list)
  df_f1 = df_f.reset_index().groupby('종목명')['buysell'].sum()     # 전체 sum을 하면 안될 듯, average처리도 필요 (col : buysell	KRW	USD	AVG_KRW	AVG_USD)
  df_f2 = df_f.reset_index().groupby('종목명')['AVG_KRW','AVG_USD'].mean()
  df_f = pd.concat([df_f1, df_f2], axis=1)
  df_f['매수금액(KRW)'] = df_f['buysell'] * df_f['AVG_KRW']
  df_f['매수금액(USD)'] = df_f['buysell'] * df_f['AVG_USD']

  if catfc != None:
    df, df_f = catfc(df, df_f)
  return df, df_f

## 자산분류를 위한 함수
- categoriging(quant=False) : quant 여부를 참고하여 df와 df_f에 자산분류를 적용하는 함수를 반환

In [144]:
def categoriging(quant=False):
  '''
  quant 여부를 참고하여 df와 df_f에 category를 적용하는 함수를 반환
  '''
  def _fc(df, df_f):
    if quant==False:
      dfcat = category2
    else:
      dfcat = category
    df2 = df.merge(right=dfcat, left_on='종목명', right_on='종목명')
    dff2 = df_f.reset_index()
    dff2 = dff2.merge(right=dfcat, left_on='종목명', right_on='종목명')

    return df2, dff2
  return _fc

# 정리된 DATA 생성

## Google sheet 항목
- 분류     분류별     목표 비중     분류     분류내 비중     목표 비중     
- 매입목표KRW	매입목표USD	
- 조정액(KRW)	조정액(USD)	
- 매입총액(KRW)	매입총액(USD)	
- 매입(일반계좌)	매입(IRP)	매입(연금저축)
- 주식	20%	한국주식, 한국퀀트, 미국주식, 미국 BAA-A, 미국 나스닥, 미국 S&P500
- 배당	40%	한국 배당주,	한국 배당 ETF, 미국 배당주, 미국 배당 ETF
- 채권	15%	한국채권, 미국채권
- 현물	10%	금
- 현금 (CMA 포함)	15%	KRW, USD

## 계좌분류별(Class)로 자산분류까지 적용하여 아래내용의 dataframe 생성
- df{} : 종목별 거래내역
- df_f{} : 최종 계좌상황

In [145]:
# 계좌분류(Class)별로 계좌취합하여 자산분류까지 적용하여 dict로 만들기
accClass = thistory.category.unique()
print(accClass, '\n')

df = {}
df_f = {}
for aCls in accClass:
  quant = True if aCls=='FAMILY' else False
  _df, _df_f = balanceClass(thistory, aCls, categoriging(quant))
  df[aCls] = _df
  df_f[aCls] = _df_f

['YI' 'FAMILY' 'JW' 'MK']

skip 7062388177-95 ...

<ipython-input-143-373ac4352665>:174: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_f2 = df_f.reset_index().groupby('종목명')['AVG_KRW','AVG_USD'].mean()

skip 12988349-29 ...
skip 7136348428-05 ...
skip 7062388177-14 ...
skip 12988349-09 ...

<ipython-input-143-373ac4352665>:174: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_f2 = df_f.reset_index().groupby('종목명')['AVG_KRW','AVG_USD'].mean()
<ipython-input-143-373ac4352665>:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  item.loc[item.index[0], 'ACC'] = item.loc[item.index[0], 'buysell']
<ipython-input-143-373ac4352665>:174: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_f2 = df_f.reset_index().groupby('종목명')['AVG_KRW','AVG_USD'].mean()
<ipython-input-143-373ac4352665>:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  item.loc[item.index[0], 'ACC'] = item.loc[item.index[0], 'buysell']
<ipython-input-143-373ac4352665>:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  item.loc[item.index[0], 'ACC'] = item.loc[item.index[0], 'buysell']
<ipython-input-143-373ac4352665>:174: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_f2 = df_f.reset_index().groupby('종목명')['AVG_KRW','AVG_USD'].mean()

## Balance Categorizing

In [146]:
# df_f['FAMILY']     #   .to_excel('C:\\Users\chins\OneDrive\\문서\\RSprotected\\GoogleLocalDrive\\result.xlsx')
df0, df_f0 = balanceAccount(thistory, accno[0])
df0, df_f0 = categoriging(True)(df0, df_f0)
df_f0

# df0에 날짜가 빠져있음 !!!

# rolling(2).apply() 이용 ㄱ
# 평단가 확인 필요 ..... XX출고/XX입고 * 평단가 : 합병XX는 서로 다른 주..로 계산 출고주는 삭제, 입고주는 + , 신주인수권XX는 다른 처리
# 삼성전자       15,128     # 액면분할입고, 액면분할출고 이유 - 나머지 대체입고, 합병입고 의 경우 영향이 있을 수 있으나 잔고가 0인 시점에서 clear되었음 
# 맥쿼리인프라   11,482      # 유상입고, 신주인수권출고(7R), 신주인수권입고 (7R)

,종목명,buysell,AVG_KRW,AVG_USD,매수금액(KRW),매수금액(USD),분류
0,삼성전자,890,14728.43,0.00,13108304.71,0.00,한국 주식
1,ARIRANG 고배당주,459,11328.90,0.00,5199965.00,0.00,한국 배당 ETF
2,맥쿼리인프라,365,11474.33,0.00,4188131.54,0.00,한국 배당주
3,NAVER,6,209035.29,0.00,1254211.76,0.00,한국 주식
4,TIGER 골드선물(H),220,13594.27,0.00,2990740.00,0.00,금
5,TIGER MKF배당귀족,200,11231.90,0.00,2246380.00,0.00,한국 배당 ETF
6,TIGER 리츠부동산인프라,420,4926.89,0.00,2069295.00,0.00,한국 리츠
7,KOSEF 고배당,225,9378.89,0.00,2110250.00,0.00,한국 배당 ETF
8,ACE 미국나스닥100,51,11009.51,0.00,561485.00,0.00,미국 나스닥
9,KT&G,5,85857.33,0.00,429286.67,0.00,한국 주식
10,국고01500-5003(20-2),1447000,0.69,0.00,999985.95,0.00,한국 채권
11,하나금융지주50-1,1021000,0.98,0.00,999048.00,0.00,한국 채권
12,TIGER 미국S&P500,51,12419.12,0.00,633375.00,0.00,미국 S&P500
13,SK텔레콤,15,48986.67,0.00,734800.00,0.00,한국 주식
14,삼성증권,5,34248.47,0.00,171242.36,0.00,한국 배당주
15,에코프로비엠,1,291500.00,0.00,291500.00,0.00,한국 주식
16,KODEX 200미국채혼합,20,11984.50,0.00,239690.00,0.00,미국 채권
17,ACE KRX금현물,5,11850.00,0.00,59250.00,0.00,금
18,대우건설46-2,33000,0.99,0.00,32831.00,0.00,한국 채권
19,한국전력998(지),10000,0.98,0.00,9786.00,0.00,한국 채권
20,외화약정RP,33910,0.00,1.00,0.00,33910.00,USD
21,Schwab US Dividend Equity ETF,120,0.00,75.24,0.00,9029.00,미국 배당 ETF
22,엔비디아,18,0.00,242.17,0.00,4359.00,미국 주식
23,제뉴인 파츠,30,0.00,169.87,0.00,5096.00,미국 배당주
24,마이크로소프트,22,0.00,254.09,0.00,5590.00,미국 배당주
25,리얼티 인컴,71,0.00,64.01,0.00,4545.00,미국 배당주
26,로우스 컴퍼니,21,0.00,204.00,0.00,4284.00,미국 배당주
27,Vanguard S&P 500 ETF,11,0.00,367.27,0.00,4040.00,미국 S&P500
28,애플,33,0.00,148.85,0.00,4912.00,미국 주식
29,펩시코,22,0.00,175.14,0.00,3853.00,미국 배당주
30,애브비,25,0.00,148.80,0.00,3720.00,미국 배당주
31,JPMRG EQ INC ETF,60,0.00,55.12,0.00,3307.00,마국 배당주
32,iShares 20+ Year Treasury Bond ETF,10,0.00,104.80,0.00,1048.00,미국 채권
33,화이자,55,0.00,43.11,0.00,2371.00,미국 배당주
34,씨티그룹,42,0.00,50.36,0.00,2115.00,한국 주식
35,SPDR Portfolio S&P 500 ETF,41,0.00,47.44,0.00,1945.00,미국 S&P500
36,외화수시RP,2000,0.00,1.00,0.00,2000.00,USD
37,제이피모간체이스,13,0.00,139.85,0.00,1818.00,미국 배당주
38,코핀,1,0.00,6.25,0.00,6.25,미국 주식
39,iShares 7-10 Year Treasury Bond ETF,10,0.00,98.70,0.00,987.00,미국 채권
40,소파이 테크놀로지스,21,0.00,5.95,0.00,125.00,미국 주식

# Utility 함수들

In [147]:
def checkTrade(df, account, tType):
  if '계좌번호' in df.columns:
    acc = df.loc[df.계좌번호==accno[account]].iloc[:, :-3].sort_index()
  else:
    acc = df
  return acc[acc['거래내용'].str.contains(tType)]

def checkTicker(df, account, ticker):
  if '계좌번호' in df.columns:
    acc = df.loc[df.계좌번호==accno[account]].iloc[:, :-3].sort_index()
  else:
    acc = df
  return acc[acc['종목명'].str.contains(ticker)]

# TEST
- 잔고에 매수금액(KRW)는 왜 저렇게 나올까?
- 평단가 확인 : 삼성전자, 맥쿼리인프라 최종 평단가 차이가 있음. : 현재도 조금은 차이가 나고 다른 종목 및 해외종목도 확인은 필요함.
- 현금잔고 확인 필요

In [148]:
sec = itemInfo(thistory, accno[0], '삼성전자')
sec.iloc[85:89, :]

,계좌번호,거래내용,종목명,수량,거래금액,상대계좌명,통화명,단가/환율,외화거래금액,상대계좌번호,처리점,category,buysell,KRW,USD,ACC,AVG_KRW,AVG_USD,AMT_PRICE
거래일자,,,,,,,,,,,,,,,,,,,
2017-11-20,12988349-01,배당금입금,삼성전자,0,350000.00,,KRW,0.00,0.00,,,FAMILY,0,350000,0.00,50.00,632516.81,0.00,64967130.00
2018-04-23,12988349-01,배당금입금,삼성전자,0,1075000.00,,KRW,0.00,0.00,,,FAMILY,0,1075000,0.00,50.00,632516.81,0.00,66042130.00
2018-05-04,12988349-01,액면분할입고,삼성전자,2500,0.00,,KRW,0.00,0.00,,,FAMILY,2500,0,-0.00,2550.00,12402.29,0.00,66042130.00
2018-05-04,12988349-01,액면분할출고,삼성전자,50,0.00,,KRW,0.00,0.00,,,FAMILY,-50,0,0.00,2500.00,12402.29,0.00,66042130.00

# 확인할 거래내역

- 세금입금 , '청약', '청약입고', '액면분할입고', '액면분할출고', '외화매수', , '세금출금(해외)', '신주인수권증권입고', '신주인수권출고',
       '분할출고', '분할입고', '신주인수권입고',
       '환불입금', '유상입고', '세금출금(국내)', '외화RP매도'

In [149]:
checkedOp = ['액면분할입고', '액면분할출고']
op = ['청약', '청약입고', '외화매수',  '세금출금(해외)', '신주인수권증권입고', '신주인수권출고', '분할출고', '분할입고', '신주인수권입고', '환불입금', '유상입고', '세금출금(국내)', '외화RP매도']
tickers = thistory['종목명'].unique()

def checkTicker4Op(acc):
  opp = op.copy()
  proccessed = []
  tname = {}

  for t in acc.keys():
    df_t = acc[t][1]
    oplist = df_t['거래내용'].unique()
    ops = []
    remv = []
    for o in opp:
      if o in proccessed:
        continue
      if o in oplist:
        ops = ops + [o]
        proccessed = proccessed + [o]
    if len(ops) > 0:
      tname[t] = ops

  return tname, [x for x in opp if x not in proccessed]

def checkOp(acc, ticker):
  print('ticker : ', ticker)

  df_t = acc[ticker][1]
  for nop, o in enumerate(op):
    df_op = df_t.loc[df_t['거래내용']==o]
    if df_op.shape[0] > 0:
      print(nop, ' : ', op[nop], 'idx = ', df_t['거래내용'].to_list().index(o))

  return df_t

In [150]:
# 각 종목별로 확인할 거래내역. ''은 뭐지? 그리고 남은 것은 또 뭘까?
acc = accInfo(thistory, accno[0])

tname, remain = checkTicker4Op(acc)
print(len(tname))
print('remain : ', remain)

tname

10
remain :  []

{'': ['외화매수'],
 '삼성물산': ['청약입고'],
 '삼성에스디에스_일반': ['청약'],
 '마이크로소프트': ['세금출금(해외)'],
 '아마존닷컴': ['분할출고', '분할입고'],
 '대한항공 45R': ['신주인수권증권입고', '신주인수권출고'],
 '맥쿼리인프라': ['환불입금', '유상입고'],
 'AT&T': ['세금출금(국내)'],
 '맥쿼리인프라 7R': ['신주인수권입고'],
 '외화수시RP': ['외화RP매도']}

In [151]:
# 각 거래내용이 어떤 것인지 확인 중 --- 위 매수단가가 0인 부분 확인이 될 것으로 예상됨 (액면분할, 합병 등으로 인한 것으로 생각됨)

# for t in tname.keys():
  # checkOp(acc, t)

In [152]:
# acc[''][1].iloc[100:103, :]       # '외화매수'건, KRW는 +가 되어야 실제 -가 될 수 있을 것 - 처리완료, AMT_PRICE는 KRW와 USD로 나누어 계산이 필요
# acc['대한항공 45R'][1]              # 대한항공으로 이관해야 하지 않나? : 신주인수권입고 / 출고로 정리되었음
# acc['맥쿼리인프라 7R'][1]            # 역시 입고 / 출고로 정리되었음
# acc['삼성에스디에스_일반'][1]          # 삼성에스디에스와 결합해야 할 듯, 거래내용=청약 을 찾아봐야 하나? - 결과에 영향이 없음
# acc['대한항공 45R'][1]              # 대한항공으로 이관해야 하지 않나? : 신주인수권입고 / 출고로 정리되었음
# acc['맥쿼리인프라 7R'][1]            # 역시 입고 / 출고로 정리되었음
# acc['삼성물산'][1].iloc[1:4, :]     # 청약입고, AVG_, AMT_ : 단가 이용
# acc['삼성에스디에스'][1][:3]         # 청약입고에 대해 AVG_KRW, AMT_PRICE 처리필요
# acc['AT&T'][1].iloc[:9, :]       # 세금출금(해외) 는 전체 금액에 적용하면 될 듯, 세금출금(국내)는 뭐지? --- 이거 하나고, 수량/거래금액 등이 없어 무시
# acc['아마존닷컴'][1].iloc[7:11, :]     # 분할입/출고 정리완료 : 단가 수정이 필요한걸까? (아래 단가는 84에 의한 단가라... 80에 의한 단가로 바뀌어야...) : ACC를 변경하지 않고 계산한 단가가 필요

In [153]:
acc['맥쿼리인프라'][1].iloc[14:18, :]     # 청약/환불입금 금액 : CASH_에 반영, 청약-환불입금-유상입고로 수령수량과 평단가 수정 필요 (마지막 매수시의 ACC * AVG_KRW + (청약금-환불금)) / 유상입고라인의 ACC
                                       # 현금 + / - 만 처리하면 될 듯

,계좌번호,거래내용,종목명,수량,거래금액,상대계좌명,통화명,단가/환율,외화거래금액,상대계좌번호,처리점,category,buysell,KRW,USD,ACC,AVG_KRW,AVG_USD,AMT_PRICE
거래일자,,,,,,,,,,,,,,,,,,,
2021-06-02,12988349-01,매수,맥쿼리인프라,404,5009600.00,,KRW,12400.00,0.00,,,FAMILY,404,-5009600,-0.00,2767.00,11963.52,0.00,-32923050.00
2021-08-04,12988349-01,청약,맥쿼리인프라,484,5832200.00,,KRW,12050.00,0.00,,,FAMILY,0,-5832200,-0.00,2767.00,11963.52,0.00,-38755250.00
2021-08-12,12988349-01,환불입금,맥쿼리인프라,0,1928000.00,,KRW,0.00,0.00,,,FAMILY,0,1928000,0.00,2767.00,11963.52,0.00,-36827250.00
2021-08-23,12988349-01,유상입고,맥쿼리인프라,324,0.00,,KRW,12050.00,0.00,,,FAMILY,324,0,-0.00,3091.00,10709.50,0.00,-36827250.00

# 새로운 기능 준비 중

### FAMILY / YI / JW / MK 별 스프레드 시트 내용 업데이트
- 자산분류별 매수금액/수량
- 자산분류별 목표금액/비중 (스프레드 시트를 읽어 사용 ?)

In [154]:
# df0, df_f0를 활용해 확인해 보자

df_f0.groupby('분류')[['매수금액(KRW)', '매수금액(USD)']].sum()

            매수금액(KRW)  매수금액(USD)
분류
USD              0.00   35910.00
금          3049990.00       0.00
마국 배당주           0.00    3307.00
미국 S&P500   633375.00    5985.00
미국 나스닥      561485.00       0.00
미국 배당 ETF        0.00    9029.00
미국 배당주           0.00   31277.00
미국 주식            0.00    9402.25
미국 채권       239690.00    2035.00
한국 리츠      2069295.00       0.00
한국 배당 ETF  9556595.00       0.00
한국 배당주     4359373.89       0.00
한국 주식     15818103.14    2115.00
한국 채권      2041650.95       0.00

### 기타 통계
- 현금자산 변화
- 현재 가격 적용한 통계
- 수익률 변화
- 배당금 통계

In [155]:
tTypes = ['액면병합입고','액면병합출고','합병입고','합병출고','단수주입금','청약','청약입고','액면분할입고','액면분할출고','외화매수','세금출금','신주인수권증권입고','신주인수권출고','분할출고','분할입고','신주인수권입고','환불입금','유상입고','세금출금','외화RP']

In [156]:
tType = tTypes[5]
print(tType)

l = []
for i in range(19):
  t = checkTrade(thistory, i, tType)
  if len(t) > 0:
    l = l + [t]
print(len(l))
l = pd.concat(l).sort_index()
l

청약
2

,계좌번호,거래내용,종목명,수량,거래금액,상대계좌명,통화명,단가/환율,외화거래금액,상대계좌번호,처리점,category
거래일자,,,,,,,,,,,,
2014-11-05,12988349-01,청약,삼성에스디에스_일반,100,9500000.00,,KRW,190000.00,0.00,,,FAMILY
2014-11-14,12988349-01,청약입고,삼성에스디에스,1,0.00,,KRW,190000.00,0.00,,,FAMILY
2014-12-10,12988349-01,청약,제일모직_일반,300,7950000.00,,KRW,53000.00,0.00,,,FAMILY
2014-12-18,12988349-01,청약입고,삼성물산,1,0.00,,KRW,53000.00,0.00,,,FAMILY
2016-11-02,12988349-01,청약,삼성바이오로직스일반,800,54400000.00,,KRW,136000.00,0.00,,,FAMILY
2016-11-10,12988349-01,청약입고,삼성바이오로직스,15,0.00,,KRW,136000.00,0.00,,,FAMILY
2020-09-01,12988349-01,청약,카카오게임즈_일반,4500,54000000.00,,KRW,24000.00,0.00,,,FAMILY
2020-09-10,12988349-01,청약입고,카카오게임즈,3,0.00,,KRW,24000.00,0.00,,,FAMILY
2021-08-04,12988349-01,청약,맥쿼리인프라,484,5832200.00,,KRW,12050.00,0.00,,,FAMILY
2021-10-26,12988349-01,청약,카카오페이_일반,350,15750000.00,,KRW,90000.00,0.00,,,FAMILY
2021-11-03,12988349-01,청약입고,카카오페이,3,0.00,,KRW,90000.00,0.00,,,FAMILY
2023-06-01,12988349-14,청약,삼성증권 제28926회 주가연계증권,200,2000000.00,,KRW,10000.00,0.00,,,FAMILY

In [157]:
배당이력=df.loc[(df['category']=='FAMILY')&(df['거래내용'].str.contains('배당'))].reset_index()
배당이력['거래일자'] = pd.to_datetime(배당이력['거래일자'])
배당이력['YEAR'] = 배당이력['거래일자'].dt.year
배당이력['MONTH'] = 배당이력['거래일자'].dt.month
배당이력.head()

AttributeError: ignored

In [ ]:
배당이력.거래내용.unique()

In [ ]:
종목별배당금=배당이력.groupby(['YEAR','MONTH','종목명'])['KRW', 'USD'].sum()
df_tyd = 종목별배당금.reset_index()
df_tyd

In [ ]:
월별배당금=배당이력.groupby(['YEAR','MONTH'])['KRW', 'USD'].sum()
월별배당금
년도별배당금=배당이력.groupby(['YEAR'])['KRW', 'USD'].sum()
df_tmd = 년도별배당금.reset_index()
df_tmd

In [ ]:
www = 배당이력.groupby(['YEAR','MONTH','종목명'])['KRW', 'USD'].sum().reset_index()
www.loc[www['YEAR']==2023]

In [ ]:
c.분류.unique()